<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Welcome to student Application</title>
    <style>
        button {
            background-color: #1c87c9;
            box-shadow: 0 5px 0 #105cad;
            color: white;
            position: relative;
            text-decoration: none;
            display: inline-block;
        }
    </style>
</head>
<body>

    <h1 th:align="center">Welcome to the Student Application</h1>
        <p align="center">Click <a th:href = "@{/s1/api/v1/student}">
            <button>here</button></a> to navigate to Admin Login Page.</p>


</body>

</html>